{% extends 'base.html.twig' %}

{% block title %}Edit offer{% endblock %}
{% block section %}
Edit offer
    <small>
        {{ include('offer/_company_information.html.twig') }}
    </small>
{% endblock %}

{% block body %}

    {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('offer_index') }}">back to list</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}
