{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}
{% block section %}Edit Company{% endblock %}

{% block body %}
    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_index') }}">back to list</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
